/*
$btn-default: $dark-gray;
$btn-default-color:$white;
$btn-danger: $red;
*/

$btn-collection: (

'default': $dark-gray ,
'danger': $red ,
'success': $green , 
'warning' : $orange 

);

%btn{
    display: inline-block;
    padding: 10px 25px;
    border: none; 
    
    @include customRadius(5px, 50%, 5px, 50%);
    
    //@include radius(5px);
    
/*    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;*/
    cursor: pointer;
}



@each $key, $value in $btn-collection{
    
    .btn-#{$key}{
        @extend %btn;
        background-color: $value;
        color: colorYiq($value);
        
        &:hover{
            background-color: darken($value, 15%);
        }
        
    }
    
}

/*
.btn-default{
    @extend %btn;
    background-color: $dark-gray;
    color: colorYiq($btn-default);
    transition-duration: 0.1s;
    
    &:hover{
        background-color: darken($dark-gray, 10%);
    }
}

.btn-danger{
    @extend %btn;
    background-color: $red;
    color: $btn-default-color;
    transition-duration: 0.1s;
    
    &:hover{
        background-color: darken($btn-danger, 10%);
    }
}
*/