$comment-bg: $white;

.comment-section{

    @include styleSection(30px, 30px, $comment-bg);

    .comment-img{
        img{
            @include radius(50%);
        }
    }

    li{
        display: flex;
        
        a{
            
                flex: 0 0 50px;
            
        }
        
        .comment-body{
            
            margin-left: 15px;
            
            h2{
                margin-top: 0px;

            }
        }
    }


}


@media(min-width:768px){
    
    .comment-section{
        li{
            a{
                flex: 0 0 90px;
            }
        }
    }
    
}

