$contact-bg: $white;


.contact-section{
    @include styleSection(150px, 150px, $contact-bg);

    background-image: url(assets/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;

    h2{
        text-align: center;
    }


    .container{
        
        /*display: flex;
        justify-content: center;
        align-items: center;*/
        
        form{
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            
            label{
                display: block;
            }
            
            input,textarea{
                width: 100%;
                line-height: 4rem;
                padding-left: 10px;
                @include customRadius(5px, 5px, 5px, 5px);
            }
        }
    }
}